<div id='map' class='map neshanMap position-relative'>
    <span class="position-absolute top-50 fas fa-map-marker-alt text-danger pe-none" style="z-index:1; left:50%; width:30px; height:30px; margin-left:-15px; margin-top:-15px;">

    </span>
</div>

@code{
    [Parameter]
    [EditorRequired]
    public string ApiKey { get; set; }

    [Inject]
    public required IJSRuntime JsRuntime { get; set; }

    private IJSObjectReference? _mapInitJs;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        _mapInitJs ??= await JsRuntime.InvokeAsync<IJSObjectReference>(
            "import",
            "./_content/Taran.Shared.UI/Components/NeshanMap/CordinateSelector.razor.js");

        await _mapInitJs.InvokeVoidAsync("initNeshanMap", ApiKey);
    }

    public async Task SetMapCenter(decimal lat, decimal lon)
    {
        await _mapInitJs.InvokeVoidAsync("SetMapCenter", lat, lon);
    }

    public async Task<string> GetCenterLatLong()
    {
        return await _mapInitJs.InvokeAsync<string>("GetCenterLatLon");
    }
}